@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
*{
  margin: 0;
  padding: 0;
}

.questions_component {
  ::-webkit-scrollbar {
    width: 6px; 
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 6px;
    border: none; 
  }

}

.hang_name,.input  {
  font-family: "Geo";
  font-size: 1.25rem;
  font-variation-settings: "opsz" auto;
}

.logo_loading {
  animation: fadeAnimation 1s infinite;
}

@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }

}

.blinking-pipe {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.hang_name_layout{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}